#chat-screen {
  background-color: #d6afd6;
  height: 500vh;
}

#chat-screen .alt-header {
  top: -15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #d6afd6;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #d6afd6;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #a08fb1;
  border-radius: 25px;
  padding: 15px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 25px;
  animation: fadeIn 1s linear;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat .message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInRight 1s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author {
  margin-bottom: 10px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-right: 5px;
}

.message__author,
.message__time {
  opacity: 0.7;
  font-size: 13px;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat .message-row--own {
  display: flex;
  justify-content: flex-end;
  animation: fadeInLeft 1s linear;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--purple);
  color: white;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  /* order: 1; */
  margin-right: 0;
  margin-left: 5px;
}

.message-row--own .message__time {
  /* order: 0; */
}

.reply {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  /* give width to column first to give input width */
  margin-left: -10px;
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -9px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 30px;
  top: 17px;
}

.reply__column:last-child button {
  background-color: var(--purple);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: white;
}

.reply__column:last-child button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-beam,
.reply button {
  transition: opacity 0.5s ease-in-out;
}

/* pseudo state */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-beam,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-10%) translateY(-80px);
  width: 90vw;
}

.reply:focus-within {
  transform: translateY(80px);
}
