#no-mobile {
  position: absolute;
  z-index: 98;
  height: 100vh;
  color: white;
  background-color: var(--purple);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 25px;
  font-weight: 600;
}

#no-mobile span {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  #no-mobile {
    display: none;
  }
}

#no-landscape {
  position: absolute;
  z-index: 99;
  height: 100vh;
  color: white;
  background-color: var(--purple);
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (orientation: landscape) and (hover: none) {
  #no-landscape {
    display: flex;
  }
}
